@font-face {
    font-family: 'Silkscreen';
    src: url('./fonts/slkscr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Silkscreen', sans-serif;
    background-color: #dbdbdb;
}

.content {
    display: flex;
    width: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.options {
    padding: 0px 10px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 150px;
}

.grid-container {
    max-width: 600px;
    min-width: 350px;
    border: 1.5px solid black;
    width: 100%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    aspect-ratio: 1/1;
    margin-top: 20px;
    margin-left: 145px;
}

.grid-squares {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
}

h1 {
    font-size: 36px;
    text-align: center;
}

p {
    font-size: 20px;
}

button {
    background: none;
    background-color: white;
    /* border: none; */
    font-size: 20px;
    font-family: 'Silkscreen', sans-serif;
    cursor: pointer;
    text-align: left;
    padding: 3px;
    margin: 0;
    border: solid black;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

button:hover {
    color: #ff00bb;
}

#colorpicker {
    appearance: none;
    border: solid 1px #808080;
    background: none;
    padding: 0;
    width: 100%;
    height: 60px;
    cursor: pointer;
}

.slider-container {
    width: 100%;
    
}

#grid-slider {
    -webkit-appearance: none;
    border: solid black 1.5px;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    width: 100%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #ff00bb;
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #ff00bb;
    cursor: pointer;
  }

  #label-container {
    width: 100%;
    margin-top: 0px;
  }
